
<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top justify-content-center border-bottom border-light">
  <button class="navbar-toggler sidebar collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">    
    <span> </span>
        <span> </span>
        <span> </span>
  </button>

  <a class="navbar-brand" href="#">jrShine</a>  
  <div class="collapse navbar-collapse justify-content-between align-items-center w-100" id="navbarCollapse">
    <ul class="navbar-nav mx-auto text-center">

      <li class="nav-item">
        <a class="nav-link px-3 blink" routerLink="/contact-create">FREE Live Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 activemenu" routerLink="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link px-3 dropdown-toggle caret" data-toggle="dropdown">Tuitions</a>
        <ul class="dropdown-menu multi-column columns-3 scrollable-menu">
                <div class="row">
                  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="nav-link subheading">Grade</a></li>
                      <li><a href="#">Grade 1 - 5 </a></li>
                      <li><a href="#">Grade 6</a></li>
                      <li><a href="#">Grade 7</a></li>
                      <li><a href="#">Grade 8</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <ul class="multi-column-dropdown">
                      <li><a href="#">&nbsp;</a></li>
                      <li><a href="#">Grade 9</a></li>
                      <li><a href="#">Grade 10</a></li>
                      <li><a href="#">Grade 11</a></li>
                      <li><a href="#">Grade 12</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="subheading">Subject</a></li>                      
                      <li><a href="#">Mathematics</a></li>
                      <li><a href="#">Science</a></li>
                      <li><a href="#">Social Studies</a></li>
                      <li><a href="#">Physics</a></li>                      
                      <li><a href="#">Biology</a></li>
                      <li><a href="#">Chemistry</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <ul class="multi-column-dropdown">
                      <li><a href="#">&nbsp;</a></li>
                      <li><a href="#">Accounts</a></li>
                      <li><a href="#">Statistics</a></li>
                      <li><a href="#">Economics</a></li>
                      <li><a href="#">Business Administration</a></li>
                      <li><a href="#">Coding</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="subheading">Language</a></li>
                      <li><a href="#">English & Grammer</a></li>
                      <li><a href="#">Hindi</a></li>
                      <li><a href="#">Sanskrit</a></li>
                      <li><a href="#">Gujarati</a></li>
                      <li><a href="#">Marathi</a></li>
                      <li><a href="#">Telugu</a></li>
                      <li><a href="#">Tamil</a></li>
                      <li><a href="#">Kannada</a></li>
                    </ul>
                  </div>                  
                </div>
              </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link px-3 dropdown-toggle caret" data-toggle="dropdown" routerLink="/contact-create">Hobbies</a>
        <ul class="dropdown-menu multi-column columns-3 scrollable-menu">
                <div class="row">
                  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="nav-link subheading">Dance</a></li>
                      <li><a href="#">Hip Hop</a></li>
                      <li><a href="#">Contemporary</a></li>
                      <li><a href="#">Jazz</a></li>
                      <li><a href="#">Ballet</a></li>
                      <li><a href="#">Salsa</a></li>
                      <li><a href="#">Free Style</a></li>                      
                      <li><a href="#">Break Dance</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="subheading">Indian Dance</a></li>                      
                      <li><a href="#">Bharatnatyam</a></li>
                      <li><a href="#">Kathak</a></li>
                      <li><a href="#">Kathakali</a></li>
                      <li><a href="#">Kuchipudi</a></li>
                      <li><a href="#">Garba</a></li>
                      <li><a href="#">Bollywood</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="subheading">Music & Singing</a></li>                      
                      <li><a href="#">Guitar</a></li>
                      <li><a href="#">Keyboard</a></li>
                      <li><a href="#">Drums</a></li>
                      <li><a href="#">Flute</a></li>                      
                      <li><a href="#">Tabla</a></li>
                      <li><a href="#">Violin</a></li>
                      <li><a href="#">Sitar</a></li>
                      <li><a href="#">Singing</a></li>
                    </ul>
                  </div>                  
                  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="subheading">Other</a></li>
                      <li><a href="#">Yoga</a></li>
                      <li><a href="#">Excercise</a></li>
                      <li><a href="#">Cooking</a></li>
                      <li><a href="#">Photography</a></li>
                      <li><a href="#">Painting</a></li>
                      <li><a href="#">Sketch</a></li>
                      <li><a href="#">Karate</a></li>
                      <li><a href="#">Martial Arts</a></li>
                      <li><a href="#">Acting</a></li>
                      <li><a href="#">Graphic Design</a></li>
                      <li><a href="#">Coding & Animation</a></li>
                      <li><a href="#">App & Game Development</a></li>
                    </ul>
                  </div>                  
                </div>
              </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link px-3 dropdown-toggle caret" data-toggle="dropdown" routerLink="/contact-create">Other Classes</a>
        <ul class="dropdown-menu multi-column columns-3 scrollable-menu">
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="nav-link subheading">Foreign Language</a></li>
                      <li><a href="#">Engish</a></li>
                      <li><a href="#">French</a></li>
                      <li><a href="#">German</a></li>
                      <li><a href="#">Spanish</a></li>
                      <li><a href="#">Italian</a></li>
                      <li><a href="#">Russian</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="nav-link subheading">Brain Development</a></li>
                      <li><a href="#">Public Speaking</a></li>
                      <li><a href="#">Vedic Maths</a></li>
                      <li><a href="#">ABACUS</a></li>
                      <li><a href="#">Rythmic style</a></li>
                      <li><a href="#">Book Reading</a></li>                      
                      <li><a href="#">English Writing</a></li>
                      <!-- <li><a href="#">Quiz</a></li>
                      <li><a href="#">Mock Tests</a></li>
                      <li><a href="#">Q & A</a></li> -->
                    </ul>                  
                </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <ul class="multi-column-dropdown">
                      <li><a href="#" class="nav-link subheading">For Parents</a></li>
                      <li><a href="#">Spoken English</a></li>
                      <!-- <li><a href="#">Tiffin ideas</a></li>                      -->
                      <li><a href="#">Yoga/Excercise</a></li>
                    </ul>
                  </div>
                </div>
        </ul>      
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link px-3 dropdown-toggle caret" data-toggle="dropdown" routerLink="/contact-create">Tutor</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Become Tutor</a>
            <a href="#" class="dropdown-item">Search</a>
        </div>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link px-3 dropdown-toggle caret" data-toggle="dropdown" routerLink="/contact-create">More</a>
        <div class="dropdown-menu">
        <a href="#" class="dropdown-item">About Us</a>
        <a href="#" class="dropdown-item">Careers</a>
        <a href="#" class="dropdown-item">Contact Us</a>
        <a href="#" class="dropdown-item">FAQ</a>
    </div>
      </li>
      <li class="nav-item">
        <div class="nav-item">
      <a href="#"  class="btn btn-primary px-5 signin"  data-toggle="modal" data-target="#modalLRForm">Login/Register</a>      
      </div>
      </li>      
    </ul>
  </div>        
</nav>


<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
              <i class="fa fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->

            <!-- Material form login -->
<div class="card">
  
  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="#!" [formGroup]="validatingForm">

      <!-- Email -->
      <div class="md-form">
        <input type="email" id="materialLoginFormEmail" placeholder="Email" class="form-control" formControlName="email" mdbInput mdbValidate/>
         <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Input invalid</mdb-error>
    <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" placeholder="Password" class="form-control" formControlName="password" mdbInput mdbValidate />
             <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Input invalid</mdb-error>
    <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

      <!-- Register -->
      <p>Not a member?
        <a href="">Register</a>
      </p>

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->
          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <div class="md-form form-sm mb-5">
                <i class="fa fa-envelope prefix"></i>
                <input type="email" id="modalLRInput12" placeholder="Your Email" class="form-control form-control-sm validate">
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="modalLRInput13" placeholder="Your Password" class="form-control form-control-sm validate">
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="modalLRInput14" placeholder="Repeat Password" class="form-control form-control-sm validate">
              </div>

              <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Sign up <i class="fa fa-sign-in ml-1"></i></button>
              </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#" class="blue-text signin">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>