
<br/><br/>

<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
    <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col">
    <h1>Company</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col">
    <h1>Online Classes</h1>
    <ul>
      <li>Tuitions</li>
      <li>Dance</li>
      <li>Music & Singing</li>
      <li>Language</li>
      <li>Yoga & Excerice</li>
    </ul>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col">
    <h1>Online Classes</h1>
    <ul>
      <li>Foreign Language</li>
      <li>Painting & Sketching</li>
      <li>Karate & Martial Arts</li>
      <li>Acting</li>
      <li>Cooking</li>
      <li>Photography</li>
    </ul>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col">
    <h1>Tech & Coding</h1>
    <ul>
      <li>Graphic Design</li>
      <li>App Development</li>
      <li>Website Development</li>
      <li>Game Development</li>
      <li>Animation</li>
    </ul>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col">
    <h1>Others</h1>
    <ul>
      <li>Public Speaking</li>
      <li>Book Reading</li>
      <li>English Writing</li>
      <li>Quiz</li>
      <li>Mock Test</li>
      <li>Q & A</li>
    </ul>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col">
    <h1>For Parents</h1>
    <ul>
      <li>Spoken English</li>
      <li>Tiffin Ideas</li>
      <li>Yoga & Excercise</li>      
    </ul>
  </div>
  
 </div>
 <div class="text-center text-white">

  <div class="col-md-10 col-lg-6 text-center text-md-right">          
          <a href="#" class="fa fa-facebook ispace"></a>
          <a href="#" class="fa fa-twitter ispace"></a>
          <a href="#" class="fa fa-linkedin ispace"></a>
          <a href="#" class="fa fa-instagram ispace"></a>          
  </div>  
    © Copyright 2020. JrShine. All rights reserved.

</div>
<div class="clearfix"> </div>
</div>
</div>
