<div id="HomeSlider" class="carousel slide z-depth-1-half carousel-fade mobileslide" data-ride="carousel"  data-interval="2500">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Text in slide</p>
            </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" alt="Second slide">           
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExample1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExample1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



    <div class="row">
    	<div class="col-md-3">&nbsp;
    	</div>

    	<div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
    		<h3>Improve your child creativity. Get a FREE online session</h3>
    	</div>

    </div> 

    <div class="text-center">
  	<button type="button" class="btn register">Register Free</button>
</div>



<div class="row" >
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>	
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>	

		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>		
	</div>


<div class="row" >
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>	
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>	

		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>		
	</div>
<br/>
	<div class="text-center">
  <button type="button" class="btn showmore">View All</button>
</div>




 <div class="row myContent hidden" >
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>	
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>	

		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<img src="/assets/img/home/child.jpg" class="img-fluid courseimg"/>
			<p class="courseheading">
				Math Class
			</p>
			<p class="fees">
				<i class="fa fa-rupee"></i> 500 / class
			</p>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>			
		</div>		
	</div>

<br/>
<hr/>

    	<div class="text-center">
    		<h3>How to Start with us ?</h3>
    	</div>
<br/>


<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">							
			<div class="col1">
			<p class="courseheading text-center stepsheading">
				Parents Registration
			</p>			
			<p style="padding: 1em 1em 1em 1em;">
				Parents needs to make their registration and than provide their child details.
				Your registration will help you get all the reports of child.
			</p>	
			</div>		
		</div>	
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mobileslide">							
		<div class="col1">		
			<p class="courseheading text-center stepsheading">
				Course Selection
			</p>			
			<p style="padding: 1em 1em 1em 1em;">
				Select the course in which your child want to enroll. Provide all the required details asked while enrolling. You can select multiple courses for your child.
			</p>		
			</div>	
		</div>	

</div>

<br/>

<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">					
			
			<div class="col1">
			<p class="courseheading text-center stepsheading">
				Select Tutor
			</p>
			
			<p style="padding: 1em 1em 1em 1em;">
				For the selected course, select the tutor who will guide you for the course.<br/> Make sure the class time matches with the teacher's availability.
			</p>
			</div>			
		</div>	

		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mobileslide">							
			
			<div class="col1">
			<p class="courseheading text-center stepsheading">
				Attend the course
			</p>
			
			<p style="padding: 1em 1em 1em 1em;">
				Now is the time for you to attend the course and grow your skills. As your first class will be FREE, you will get time to make decision for your future classes.
			</p>			
		</div>
		</div>		
	</div>

<br/>
<hr/>


<div class="text-center">
    		<h3>Benefits</h3>
    	</div>
<br/>


<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">			
			<div class="col1">

			<p class="courseheading text-center stepsheading">				
				<i class="fa fa-laptop"></i>
				Personalized Learning
			</p>			
			<p style="padding: 1em 1em 1em 1em;">
				One-to-one online tutoring is an effective and convenient way to take classes. Our expert tutors assess the subject knowledge needs and learning capabilities of every student to make learning very effective. Unlike classrooms with many students, here the teacher's full attention and time is spent for one student.
			</p>	
			</div>		
		</div>	
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mobileslide">			
		<div class="col1">		
			<p class="courseheading text-center stepsheading">
				<i class="fa fa-user"></i>
				Expert Tutors
			</p>			
			<p style="padding: 1em 1em 1em 1em;">
				Our highly qualified and experienced tutors are selected through a rigorous selection process. All our tutors have years of experience teaching students online. They are thoroughly vetted for their subject matter expertise and teaching capabilities.
			</p>		
			</div>	
		</div>	
</div>

<br/>

<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">					
			
			<div class="col1">
			<p class="courseheading text-center stepsheading">
				<i class="fa fa-video-camera"></i>
				Recorded Sessions
			</p>
			
			<p style="padding: 1em 1em 1em 1em;">
				Our state of the art learning system enables students to study in a secure web environment, where tutors and students can draw problems on an interactive whiteboard, share files and test papers, and work on curriculum together. All the sessions are recorded and students can revisit their recordings anytime.
			</p>
			</div>			
		</div>	

		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mobileslide">			
			
			<div class="col1">
			<p class="courseheading text-center stepsheading">
				<i class="fa fa-clock-o"></i>
				Time Saving
			</p>
			
			<p style="padding: 1em 1em 1em 1em;">
				Online tutoring allows students to have classes at their convenient time and right from the comforts of their home, saving many hours of commuting time. Even if students are traveling outside their city, they can still take their classes anytime, anywhere.
			</p>			
		</div>
		</div>		
	</div>
<br/>
<hr/>

<div class="tutor">
  <div class="contain">
  	
    <div class="row tutordesc">
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col tutorimg">
    &nbsp;
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col text-white">
  	<br/>
    <h2>Become a <u>Tutor</u></h2>
    
    <p style="font-size: 15px;" style="display: inline-block;">
		Now you can too earn from home just by joining our network of expert Tutors.&nbsp;
<button type="button" class="btn apply">Apply Now</button>
    </p>
</div>
    
    
</div>
</div>  
    <div class="row tutorimg">
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col">
    
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col text-white">
  	<br/>    
    <p>
    	<img src="/assets/img/home/tutors.jpg" class="img-fluid"/>
    </p>
    <p>
    	
    </p>
  </div>  
 </div>
 </div>
